[user]
	name = ''
	email = 
[http]
	postBuffer = 524288000
[init]
	templatedir = "~/.git_template"
[core]
	editor = "~/.giteditor.bat"
	safecrlf = false
	autocrlf = false 
[commit]
	template = "~/.gitmessage.txt"
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
	path = "C:\\Program Files\\KDiff3\\kdiff3.exe"
	trustExitCode = false
[diff]
	tool = kdiff3
	guitool = kdiff3
[difftool]
	prompt = false
[difftool "kdiff3"]
	path = "C:\\Program Files\\KDiff3\\kdiff3.exe"
[credential]
	helper = wincred
